#APP_NETWORK=BERKELEY
APP_NETWORK=LOCAL
USER_PRIV_KEY=foo-private-key
RANDOMNESS_ORACLE_URL=http://localhost:3030
# NOTE - this is a randomly generated key
EXECUTOR_PRIVATE_KEY=EKErC5H3DLWhpz8ebsLCLC9SSBmgWQDBiReKnP7Hjiyz14YTWvQU